doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 411730699_陳玫秀的期末作業
        link(rel="stylesheet", href="index.css")
    body 
        .box
            .box1
                h4 -淡江大學- 教育科技學系TKUET
            .box2
                h4  點選小小兵可以進入系網站喔!
        .person
            .eyes
                .lefteye
                    .Lpupil
                .righteye
                    .Rpupil
            .nose
            .mouth
                .tongue
            .hairs 
                .ahair
                .bhair 
                .chair
        .youtubeDisplay
            iframe(width="560" height="315" src="https://www.youtube.com/embed/D_ZBY_vm82M?si=Rv-yCDGdd4nEAtLh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
        .img
            img(class="img" src="1.png" alt="little" width="200%" height="150%")
        .img1 
            img(class="img1" src="2.2.png" alt="tkuet" width="150%" height="150%")  
            
        .h5p
            <iframe src="https://app.Lumi.education/api/v1/run/GwP_63/embed" width="1088" height="720" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
            <script src="https://app.Lumi.education/api/v1/h5p/core/js/h5p-resizer.js" charset="UTF-8"></script>